{% extends 'base.html.twig' %}

{% block title %}Chris B dev | Connexion{% endblock %}

{% block body %}

    <section class="hero is-bold section is-dark is-fullheight-with-navbar">
        <div class="columns has-text-centered is-centered">

            <div class="column is-one-third-desktop is-one-quarter-widescreen is-two-fifth-fullhd is-flex" style="align-items: center">
                {{ include('security/login_form.html.twig') }}
            </div>

            <div class="column is-two-fifths is-two-quarter-widescreen is-one-quarter-fullhd is-flex">
                <figure>
                    <img src="{{ asset('build/images/undraw_Access_account_re_8spm.52dc6593.svg') }}" alt="login illustration">
                </figure>
            </div>


        </div>
    </section>

{#    <section class="hero is-bold section is-dark is-fullheight-with-navbar">#}
{#        <div class="columns is-flex has-text-centered is-centered">#}
{#            <div class="column is-one-quarter">#}
{#                {{ include('security/login_form.html.twig') }}#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

{% endblock %}
