<div class="content has-text-centered">

    <div class="content has-text-centered columns">

    <div class="column">
        <a class="is-link column" href="{{ path('contact') }}">Contact</a>
        <a class="is-link column" href="#">CGU/CGV</a>
        <a class="is-link column" href="#">Mentions légales</a>
    </div>


    <div class="column">
        <a class="is-link column" href="#presentation">Présentation</a>
        <a class="is-link column" href="#projets">Projets</a>
        <a class="is-link column" href="#competences">Compétences</a>
        <a class="is-link column" href="#cv">CV</a>
    </div>


    <div class="column">

                    <span class="column">
                        <a target="_blank" href="https://www.facebook.com/Qleaq.Officiel/">
                            <span class="icon">
                            <i class="fab fa-facebook"></i>
                            </span>Facebook
                        </a>
                    </span>


                    <span class="column">
                        <a  target="_blank"href="https://www.instagram.com/Qleaq_Officiel/">
                            <span class="icon">
                                <i class="fab fa-github"></i>
                            </span>Github
                        </a>
                    </span>



                    <span class="column">
                        <a  target="_blank"href="https://au.linkedin.com/company/qleaq-officiel">
                            <span class="icon">
                                <i class="fab fa-linkedin"></i>
                            </span>Linkedin
                        </a>
                    </span>

    </div>




    </div>

    <hr style="background: rgba(255,255,255,0.2);height: 1px;width: 100%;margin:auto;">

    <div class="column has-text-centered has-text-grey-dark">
            <span class="has-text-weight-light">
                © 2020 | www.chrisbdev.com [BETA] | Propriété de BOUNGOU Christian. Tout droits réservés.
            </span>
    </div>

</div>