
    <nav class="navbar is-black" role="navigation" aria-label="main navigation" style="box-shadow: black 0px 0px 10px 5px">
        <div class="navbar-brand" style="align-items: center;">
            <figure style="width: 150px;padding: 1rem">
                <a class="logo" href="{{ path('home') }}">
                    <img src="{{ asset('build/images/Chris B Dev - Logo - reduit.98de0cf1.svg') }}" alt="" width="150">
                </a>
            </figure>

            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>


        <div class="is-size-4 navbar-menu" style="justify-content: center" id="navMenu">
            <div class="navbar">

                <a class="navbar-item" href="#presentation" style="justify-content: center;display: flex;">
                     Présentation
                </a>

                <a class="navbar-item" href="#competences" style="justify-content: center;display: flex;">
                    Compétences
                </a>

                <a class="navbar-item" href="#projets" style="justify-content: center;display: flex;">
                    Projets
                </a>

                <a class="navbar-item" href="#cv" style="justify-content: center;display: flex;">
                    CV
                </a>

                <a class="navbar-item" href="#contact" style="justify-content: center;display: flex;">
                    Contact
                </a>

            </div>
        </div>

    </nav>

