<div id="modal-{{ projet.id }}" class="modal">
    <div class="modal-background" onclick="closeModal({{ projet.id }})"></div>
    <div class="modal-content">
        <div class="column has-text-centered">
            <h3 class="subtitle">{{ projet.title }}</h3>
        </div>

    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeModal({{ projet.id }})"></button>
</div>

<script>
    function openModal(id) {
        document.getElementById('modal-'+id).style.display = "flex";
    }

    function closeModal(id) {
        document.getElementById('modal-'+id).style.display = "none";
    }
</script>