<div id="modal-{{ projet.id }}" class="modal">
    <div class="modal-background" onclick="closeModal({{ projet.id }})"></div>
    <div class="modal-content-custom">

            <div class="column has-text-centered">
                <h3 class="subtitle is-3 is-uppercase has-text-green-neon">{{ projet.title }}</h3>
            </div>

            <div class="columns">

                <div class="column">
                    <figure class="image is-square">
                        <img src="https://bulma.io/images/placeholders/256x256.png">
                    </figure>
                </div>

                <div class="column">
                    <figure class="image is-square">
                        <img src="https://bulma.io/images/placeholders/256x256.png">
                    </figure>
                </div>

                <div class="column">
                    <figure class="image is-square">
                        <img src="https://bulma.io/images/placeholders/256x256.png">
                    </figure>
                </div>

            </div>

            <div class="column">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit finibus justo. Ut fermentum faucibus purus sit amet feugiat. Maecenas nisl nibh, blandit at interdum vitae, pharetra eu diam. Maecenas et molestie mi. Sed volutpat efficitur ligula ac lacinia. Donec scelerisque viverra nibh, in tristique felis. Quisque vitae turpis libero. Sed euismod fringilla leo posuere commodo. Nunc ornare magna et lacus lacinia, nec accumsan nulla posuere. Nunc mattis ante vel enim lacinia suscipit fusce.</p>
            </div>

            <div class="column is-flex-desktop">

                <div class="column is-half" id="charaProjet1">
                    <div class="columns is-multiline">

                        <div class="column is-half" style="display: flex;align-items: center">
                            <span class="icon is-medium">
                                <i class="fas fa fa-check-circle has-text-green-neon"></i>
                            </span>
                            <h6 class="subtitle is-5">Interface d'administration</h6>
                        </div>
                        <div class="column is-half" style="display: flex;align-items: center">
                            <span class="icon is-medium">
                                <i class="fas fa fa-check-circle has-text-green-neon"></i>
                            </span>
                            <h6 class="subtitle is-5">Responsive design</h6>
                        </div>
                        <div class="column is-half" style="display: flex;align-items: center">
                            <span class="icon is-medium">
                                <i class="fas fa fa-check-circle has-text-green-neon"></i>
                            </span>
                            <h6 class="subtitle is-5">Référencement naturel</h6>
                        </div>
                        <div class="column is-half" style="display: flex;align-items: center">
                            <span class="icon is-medium">
                                <i class="fas fa fa-check-circle has-text-green-neon"></i>
                            </span>
                            <h6 class="subtitle is-5">Référencement naturel</h6>
                        </div>
                        <div class="column is-half" style="display: flex;align-items: center">
                            <span class="icon is-medium">
                                <i class="fas fa fa-check-circle has-text-green-neon"></i>
                            </span>
                            <h6 class="subtitle is-5">Référencement naturel</h6>
                        </div>
                        <div class="column is-half" style="display: flex;align-items: center">
                            <span class="icon is-medium">
                                <i class="fas fa fa-check-circle has-text-green-neon"></i>
                            </span>
                            <h6 class="subtitle is-5">Référencement naturel</h6>
                        </div>

                    </div>
                </div>


                <div class="column is-half" id="charaProjet2">
                    <div class="column">

                        <div class="tags">
                            <span class="tag is-warning"><a href="#"></a>#HTML</span>
                            <span class="tag is-warning">#CSS</span>
                            <span class="tag is-warning">#PHP</span>
                            <span class="tag is-warning">#Symfony 4</span>
                            <span class="tag is-warning">#Bulma</span>
                            <span class="tag is-warning">#Javascript</span>
                            <span class="tag is-warning">#JQuery</span>
                            <span class="tag is-warning">#JQuery</span>
                            <span class="tag is-warning">#JQuery</span>
                            <span class="tag is-warning">#JQuery</span>
                            <span class="tag is-warning">#JQuery</span>
                            <span class="tag is-warning">#JQuery</span>
                            <span class="tag is-warning">#JQuery</span>
                            <span class="tag is-warning">#JQuery</span>
                            <span class="tag is-warning">#JQuery</span>
                        </div>

                    </div>
                </div>

            </div>

        <div class="column is-flex-desktop" style="justify-content: end;">
            <a class="button is-green-custom" href="#">Visiter le site</a>
        </div>

    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeModal({{ projet.id }})"></button>
</div>

<script>
    function openModal(id) {
        document.getElementById('modal-'+id).style.display = "flex";
        setTimeout(function () {
            document.getElementById('modal-'+id).style.opacity = '1';
        },50);

    }

    function closeModal(id) {
        document.getElementById('modal-'+id).style.opacity = '0';
        setTimeout(function () {
            document.getElementById('modal-'+id).style.display = "none";
        },500);
    }
</script>