<div id="presentation" class="sectionPaddingTop"></div>
<section class="hero is-light is-bold is-normal">
    <div class="hero-body">
        <div class="container">
            <h1 class="subtitle is-1 has-text-dark has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-left" style="align-items: baseline">
                Accueil
                <span class="icon has-text-dark is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                </span>
            </h1>
        </div>
    </div>

    {% for presentation in presentations %}
        {{ include('sections/presentation/includes/block_presentation.html.twig') }}
    {% endfor %}


    {% if is_granted('ROLE_ADMIN') %}
        <div class="column has-text-centered">
            <span class="icon is-large">
                <a href="{{ path('presentation_add') }}" class="fas fa-3x fa-plus-circle has-text-info" title="Ajouter une présentation"></a>
            </span>
        </div>
    {% endif %}

</section>



{#<script>#}

{#    function elementPosition (a) {#}
{#        var b = a.getBoundingClientRect();#}
{#        return {#}
{#            clientX: a.offsetLeft,#}
{#            clientY: a.offsetTop,#}
{#            viewportX: (b.x || b.left),#}
{#            viewportY: (b.y || b.top)#}
{#        }#}
{#    }#}


{#    // for(let i = 0 ; i < blockPresentation.length ; i++){#}
{#    // }#}

{#    document.addEventListener('scroll', function () {#}
{#        let blockPresentation = document.getElementsByClassName("block-presentation");#}
{#        let positions = elementPosition(blockPresentation[0]);#}
{#        // let positionWindows = elementPosition(document.querySelector("html"));#}
{#        // let windowsPosVert = positions.clientY;#}
{#        let elementPosVert = positions.viewportY;#}
{#        // console.log(positionWindows);#}
{#        console.log({#}
{#        //     // "Position horizontale dans la fenetre": positions.clientX,#}
{#        //     // "Position verticale dans la fenetre": positions.clientY,#}
{#        //     // "Position horizontale dans le document": positions.viewportX,#}
{#            "Position verticale dans le document": positions.viewportY#}
{#        });#}

{#            if ( elementPosVert >= 150 && elementPosVert <= 400 ){#}
{#                blockPresentation[0].style.width = "100%";#}
{#                // console.log("position de lelement centre")#}
{#            }else {#}
{#                blockPresentation[0].style.width = "80%";#}
{#            }#}
{#        })#}

{#</script>#}