<div id="competences" style="position: relative;top: -8rem;"></div>
<section class="hero is-black is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-primary has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-right">
                Compétences
                <span class="icon is-large has-text-primary is-hidden-touch" style="position: absolute;left:5%">
                    <i class="fas fa-3x fa-angle-right"></i>
                    <i class="fas fa-3x fa-angle-right"></i>
                    <i class="fas fa-3x fa-angle-right"></i>
                </span>
            </h2>
        </div>
    </div>

    <div class="">

        <div class="columns is-vcentered is-centered is-half competence">
            <h4 class="column is-1 has-text-centered">HTML</h4>
            <div class="column is-10">
                <progress class="progress is-large is-primary" value="60" max="100">60%</progress>
            </div>
        </div>

        <div class="columns is-vcentered is-centered is-half competence">
            <h4 class="column is-1 has-text-centered">HTML</h4>
            <div class="column is-10">
                <progress class="progress is-large is-primary" value="60" max="100">60%</progress>
            </div>
        </div>

        <div class="columns is-vcentered is-centered is-half competence">
            <h4 class="column is-1 has-text-centered">HTML</h4>
            <div class="column is-10">
                <progress class="progress is-large is-primary" value="60" max="100">60%</progress>
            </div>
        </div>

        <div class="columns is-vcentered is-centered is-half competence">
            <h4 class="column is-1 has-text-centered">HTML</h4>
            <div class="column is-10">
                <progress class="progress is-large is-primary" value="60" max="100">60%</progress>
            </div>
        </div>

        <div class="columns is-vcentered is-centered is-half competence">
            <h4 class="column is-1 has-text-centered">HTML</h4>
            <div class="column is-10">
                <progress class="progress is-large is-primary" value="60" max="100">60%</progress>
            </div>
        </div>

    </div>

</section>