<div class="columns is-vcentered is-centered is-half competence" id="{{ competences.id }}">
    <h4 class="column is-1 has-text-centered">{{ competences.name }}</h4>
    <div class="column is-10">
        <progress class="progress is-large is-primary" value="{{ competences.value }}" max="100">{{ competences.value }}%</progress>
    </div>
</div>