<div id="competences" style="position: relative;top: -8rem;"></div>
<section class="hero is-black is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-primary has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-right">
                Compétences
                <span class="icon is-large has-text-primary is-hidden-touch" style="position: absolute;left:5%">
                    <i class="fas fa-3x fa-angle-right"></i>
                    <i class="fas fa-3x fa-angle-right"></i>
                    <i class="fas fa-3x fa-angle-right"></i>
                </span>
            </h2>
        </div>
    </div>

    <div class="">

        {% for competences in competences %}
            {{ include('sections/competences/competence_barre.html.twig') }}
        {% endfor %}

        <div class="column has-text-centered">
            <a href="{{ path('add_comp') }}" class="button is-info">Ajouter une compétence</a>
        </div>

{#        <div class="box is-half column">#}
{#            {{ include('sections/competences/add_comp.html.twig') }}#}
{#        </div>#}

    </div>

</section>