<div id="competences" style="position: relative;top: -8rem;"></div>
<section class="hero is-dark is-bold is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-light has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-right" style="align-items: baseline">
                <span class="icon has-text-light is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </span>
                Compétences
            </h2>
        </div>
    </div>

{#        <div style="display: flex;flex-direction:column;align-items:center;justify-content: center;">#}
            {% for competences in competences %}
                {{ include('sections/competences/competence_barre.html.twig') }}
            {% endfor %}
{#        </div>#}


        {% if is_granted('ROLE_ADMIN') %}
        <div class="column has-text-centered">
            <span class="icon is-large">
                <a href="{{ path('add_comp') }}" class="fas fa-3x fa-plus-circle has-text-info" title="Ajouter une compétence"></a>
            </span>
        </div>
        {% endif %}


</section>