<div id="competences" class="sectionPaddingTop"></div>
<section class="hero is-light is-bold is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-dark has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-left" style="align-items: baseline">
                Compétences
                <span class="icon has-text-dark is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                </span>
            </h2>
        </div>
    </div>

    <h3 class="subtitle is-3 has-text-centered">Voici les différentes compétences techniques du développeur</h3>

    <div style="display: flex;justify-content: center">
        <div class="column is-two-thirds-desktop">

            {% for competences in competences %}
                {{ include('sections/competences/includes/competence_barre.html.twig') }}
            {% endfor %}

            {% if is_granted('ROLE_ADMIN') %}

                    {{ include('sections/competences/includes/competence_barre_shadow.html.twig') }}

            {% endif %}
        </div>


    </div>
    
</section>