<div id="projets" style="position: relative;top: -8rem;"></div>
<section class="hero is-light is-bold is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-black has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-left">
                Projets
                <span class="icon is-large has-text-black is-hidden-touch" style="position: absolute;right: 5%">
                    <i class="fas fa-3x fa-angle-left"></i>
                    <i class="fas fa-3x fa-angle-left"></i>
                    <i class="fas fa-3x fa-angle-left"></i>
                </span>
            </h2>
        </div>
    </div>

    <div class="columns is-multiline is-centered" style="padding: 0 1.5rem">

        <a href="#" class="column box-projet is-one-third">
            <div class="box">

                <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>

                <div class="container">
                    <h3 class="subtitle is-4 has-text-black">Présentation #1</h3>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur cupiditate deserunt dolore enim, eos et excepturi hic molestias, quas qui saepe voluptas voluptate. Enim laborum, temporibus. Deserunt, exercitationem, veniam.
                    </p>
                </div>

            </div>
        </a>

        <a href="#" class="column box-projet is-one-third">
            <div class="box">
                <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>

                <div class="container">
                    <h3 class="subtitle is-4 has-text-black">Présentation #2</h3>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores cupiditate dignissimos in inventore minus, mollitia nulla quia reprehenderit soluta sunt tempora vitae? Aliquam dolor natus perferendis rem, voluptate voluptatibus?
                    </p>
                </div>

            </div>

        </a>

        <a href="#" class="column box-projet is-one-third">
            <div class="box">
                <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>

                <div class="container">
                    <h3 class="subtitle is-4 has-text-black">Présentation #3</h3>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eligendi error et harum provident ut vel! Aspernatur culpa cupiditate doloremque doloribus eos esse itaque nihil soluta veniam veritatis! Accusantium, labore?
                    </p>
                </div>

            </div>

        </a>

        <a href="#" class="column box-projet is-one-third">
            <div class="box">
                <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>

                <div class="container">
                    <h3 class="subtitle is-4 has-text-black">Présentation #3</h3>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eligendi error et harum provident ut vel! Aspernatur culpa cupiditate doloremque doloribus eos esse itaque nihil soluta veniam veritatis! Accusantium, labore?
                    </p>
                </div>

            </div>

        </a>

        <a href="#" class="column box-projet is-one-third">
            <div class="box">
                <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>

                <div class="container">
                    <h3 class="subtitle is-4 has-text-black">Présentation #3</h3>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eligendi error et harum provident ut vel! Aspernatur culpa cupiditate doloremque doloribus eos esse itaque nihil soluta veniam veritatis! Accusantium, labore?
                    </p>
                </div>

            </div>

        </a>

    </div>


</section>