<div id="projets" class="sectionPaddingTop"></div>

<section class="hero is-dark is-bold is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-light has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-right" style="align-items: baseline">
                <span class="icon has-text-light is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </span>
                Projets
            </h2>
        </div>
    </div>

    <h3 class="subtitle is-3 has-text-centered">Retrouvez l'enssemble des projets & réalisation du développeur</h3>

    <div class="columns is-multiline is-centered py-5 px-5">

        {% for projet in projets %}
            {{ include('sections/projets/includes/box_projet.html.twig') }}
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            {{ include('sections/projets/includes/box_projet_shadow.html.twig') }}
        {% endif %}
    </div>


</section>

