<!doctype html>
<html lang="fr" class="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block meta_description %}Création de sites web, applications, interfaces. chrisBdev, développeur web PHP Symfony. Pour des conceptions de sites web dynamiques et interactifs. Site vitrine, site one-page, Boutique en ligne, portail web. N'hésitez pas à contacter chrisBdev !{% endblock %}">
    <title>{% block title %}chrisBdev | Acceuil{% endblock %}</title>
    {% block css %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block fonts %}
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    {% endblock %}

    {#   GOOGLE ANALYTICS   #}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DB59B0TCMP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-DB59B0TCMP');
    </script>

    {#   GOOGLE SEARCH   #}
    <meta name="google-site-verification" content="AnsuQxRxgWYCobS3_cjQwKySZr-dic3QdnI9zQYQ8M4" />
    <link rel="shortcut icon" href="{{ asset('build/images/Chris_B_Dev_Logo_reduit_fondnoir_borderradius.636bf5b4.ico') }}" type="image/x-icon">

    <script src="https://cmp.osano.com/6opQ7S0fIl6S33d/cfc63938-e8dc-4760-bd47-b6512e63134d/osano.js"></script>

    <script src="/node_modules/bulma-extensions/bulma-calendar/dist/bulma-calendar.min.js"></script>
</head>



<body>

<header style="position: sticky;top: 0;z-index: 20">
        {% include 'layouts/header.html.twig' %}
</header>

{% block body %}

{% endblock %}


{% block flash_message %}
    <div style="position: relative;
    bottom: .75rem;
    width: 100%;
    display: flex;
    justify-content: center;">
        {% include 'flash_message.html.twig' %}
    </div>
{% endblock %}

<footer class="footer has-background-black">
    {% include 'layouts/footer.html.twig' %}
</footer>

{% block javascripts %}
    {#        SCRIPT POUR NAVBAR BURGER RESPONSIVE ANIMATION          #}
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



    {#     SCRIPT POUR UPLOAD IMG ILLUSTRATION     #}
    <script>
        let imgIllustrationMin = document.querySelectorAll('.js-file input[type=file]');
        imgIllustrationMin.forEach(function (img) {
            img.onchange = () => {
                console.log(img);
                if (img.files.length > 0) {
                    const fileName = img.nextElementSibling.nextElementSibling;
                    const imgFile = img.parentElement.parentElement.parentElement.previousElementSibling.querySelector('img');
                    fileName.textContent = img.files[0].name;
                    imgFile.src = window.URL.createObjectURL(img.files[0])
                }
            }
        });
    </script>

    {#  SCRIPT POUR G-RECAPTCHA  #}
    <script src="https://www.google.com/recaptcha/api.js"></script>

{% endblock %}




</body>

</html>