<!doctype html>
<html lang="fr" class="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Chris B Dev{% endblock %}</title>
    {% block css %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block fonts %}
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    {% endblock %}
</head>



<body>

<header style="position: sticky;top: 0;z-index: 100">
{#    <div style="position: relative;height: 100%;width: 100%">#}
        {% include 'layouts/header.html.twig' %}
{#    </div>#}
</header>

{% block body %}

{% endblock %}

<footer class="footer has-background-black" style="position: relative;z-index: 10">
    {% include 'layouts/footer.html.twig' %}
</footer>

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });


        {#        SCRIPT POUR VERIF NOMBRE DANS FORMULAIRE          #}
        function verif_nombre(champ)
        {
            var chiffres = new RegExp("[0-9]");
            var verif;
            var points = 0;

            for(x = 0; x < champ.value.length; x++)
            {
                verif = chiffres.test(champ.value.charAt(x));
                if(champ.value.charAt(x) == "."){points++;}
                if(points > 1){verif = false; points = 1;}
                if(verif == false){champ.value = champ.value.substr(0,x) + champ.value.substr(x+1,champ.value.length-x+1); x--;}
            }
        }

        function verif_nombre_max(champ, max){

            let x = champ.value;
            let xsub = x.toString().substr(0,max);
            champ.value = xsub;

        }
        {#        FIN DE SCRIPT         #}



    </script>

{% endblock %}
</body>

</html>