<div class="is-centered block-presentation is-hidden-touch">

    <h3 class="is-size-3 has-text-centered has-text-weight-bold has-text-black has-background-green">Présentation #1</h3>

    <figure class="image is-3by1" style="position:relative;">
        <img src="https://bulma.io/images/placeholders/720x240.png">

        <div class="text-presentation has-text-black">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis cupiditate dolor ducimus hic laudantium molestias sapiente sunt tempora ullam? Assumenda consequuntur dignissimos earum iste laborum necessitatibus quos. Perspiciatis, qui?
            </p>

            <div class="buttons">
                <a href="#" class="button is-primary">bouton #1</a>
                <a href="#" class="button is-danger">bouton #2</a>
            </div>

        </div>




    </figure>
</div>

<div class="is-centered is-hidden-desktop" style="margin-bottom: 3rem;box-shadow: black 0 0 15px;">

    <h3 class="is-size-3 has-text-centered has-text-weight-bold has-text-black has-background-green">Présentation #1</h3>

    <figure class="image is-5by4" style="position:relative;">
        <img src="https://bulma.io/images/placeholders/600x480.png" style="opacity: 0.5">

        <div class="has-text-black text-presentation-touch" style="position: absolute;top: 0">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis cupiditate dolor ducimus hic laudantium molestias sapiente sunt tempora ullam? Assumenda consequuntur dignissimos earum iste laborum necessitatibus quos. Perspiciatis, qui?
            </p>

            <div class="buttons">
                <a href="#" class="button is-primary">bouton #1</a>
                <a href="#" class="button is-danger">bouton #2</a>
            </div>

        </div>

    </figure>

</div>


