<div id="contact" style="position: relative;top: -8rem;"></div>
<section class="hero is-primary is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-black has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-left">
                Contact
                <span class="icon is-large has-text-black is-hidden-touch" style="position: absolute;right: 5%">
                    <i class="fas fa-3x fa-angle-left"></i>
                    <i class="fas fa-3x fa-angle-left"></i>
                    <i class="fas fa-3x fa-angle-left"></i>
                </span>
            </h2>
        </div>
        {% include 'sections/contact/includes/contact_form.html.twig' %}
    </div>

</section>