{% extends 'base.html.twig' %}

{% block body %}
    <div id="contact" style="position: relative;top: -7rem;"></div>
    <section class="hero is-light is-bold is-normal">
        <div class="hero-body">
            <div class="container">
                <h2 class="subtitle is-1 has-text-dark has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-left" style="align-items: baseline">
                    Contact
                    <span class="icon has-text-dark is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                </span>
                </h2>
            </div>
        </div>

        {{ form_start(messageForm) }}
        {% include 'sections/contact/includes/contact_form.html.twig' %}
        {{ form_end(messageForm) }}

    </section>
{% endblock %}
