<div id="cv" style="position: relative;top: -8rem;"></div>
<section class="hero is-black is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-primary has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-right">
                Curriculum vitæ
                <span class="icon is-large has-text-primary is-hidden-touch" style="position: absolute;left:5%">
                    <i class="fas fa-3x fa-angle-right"></i>
                    <i class="fas fa-3x fa-angle-right"></i>
                    <i class="fas fa-3x fa-angle-right"></i>
                </span>
            </h2>
        </div>
    </div>
</section>