{% extends 'base.html.twig' %}

{% block title %}chrisBdev | Politique de confidentialité{% endblock %}

{% block meta_description %}Bienvenue sur la page de la politique de confidentialité du site chrisBdev.{% endblock %}

{% block body %}

    <section class="hero is-normal" style="background: center / cover no-repeat url('{{ asset('build/images/secret-3037639_1920.7781347c.svg') }}');background-attachment: fixed;position: relative">
        <div class="section-bg-layer"></div>
        <div class="hero-body">
            <div class="container">
                <h1 class="subtitle is-1 has-text-light has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-right" style="align-items: baseline;text-shadow: 1px 2px 2px black;">
                <span class="icon has-text-light is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </span>
                    politique de confidentialité
                </h1>
            </div>
        </div>

        <section class="section">
            <div class="container">
                {{ include('RGPD/Politique de confidentialité/politique_conf.html.twig') }}
            </div>
        </section>

    </section>

{% endblock %}