{% extends 'base.html.twig' %}

{% block title %}chrisBdev | Modifier mon mot de passe{% endblock %}

{% block meta_description %}Bienvenue sur l'espace de modification de votre mot de passe du site chrisBdev{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}

        <section class="hero is-bold section is-dark is-fullheight-with-navbar">
            <div class="columns has-text-centered is-centered">

                <div class="column is-one-third-widescreen box has-background-black-bis">
                    {{ include('User/change_password_form.html.twig') }}
                </div>

                <div class="column is-two-fifths is-two-fifths-widescreen is-one-quarter-fullhd is-flex">
                    <figure>
                        <img src="{{ asset('build/images/undraw_security_o890.4411a7b8.svg') }}" alt="edit profile illustration">
                    </figure>
                </div>

            </div>
        </section>

    {% endif %}


{% endblock %}