{% extends 'base.html.twig' %}

{% block title %}chrisBdev | Modifier mon mot de passe{% endblock %}

{% block meta_description %}Bienvenue sur l'espace de modification de votre mot de passe du site chrisBdev{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}

        <section class="hero is-bold section is-dark">

            <h1 class="subtitle is-1 has-text-light has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-right" style="align-items: baseline;text-shadow: 1px 2px 2px black">
                <span class="icon has-text-light is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </span>
                Mon espace personnel
            </h1>

            <div class="columns has-text-centered is-centered">

                <div class="column is-one-third-widescreen box has-background-black-bis">
                    {{ include('User/change_password_form.html.twig') }}
                </div>

                <div class="column is-two-fifths is-two-fifths-widescreen is-one-quarter-fullhd is-flex">
                    <figure>
                        <img src="{{ asset('build/images/undraw_security_o890.4411a7b8.svg') }}" alt="edit profile illustration">
                    </figure>
                </div>

            </div>
        </section>

    {% endif %}


{% endblock %}