{% extends 'base.html.twig' %}

{% block title %}chrisBdev - Modifier mon profil{% endblock %}

{% block meta_description %}Bienvenue sur l'espace de personnalisation de votre profil du site chrisBdev{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}

        <section class="hero is-bold section is-dark is-fullheight-with-navbar">

            <h1 class="subtitle is-1 has-text-light has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-left" style="align-items: baseline">
                Mon espace personnel
                <span class="icon has-text-light is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                </span>
            </h1>

            <div class="columns has-text-centered is-centered">

                <div class="column is-one-third-widescreen box has-background-black-bis">
                    {{ include('User/edit_user_form.html.twig') }}
                </div>

                <div class="column is-two-fifths is-two-fifths-widescreen is-one-quarter-fullhd is-flex">
                    <figure>
                        <img src="{{ asset('build/images/undraw_profile_6l1l.fa21e098.svg') }}" alt="edit profile illustration">
                    </figure>
                </div>

            </div>
        </section>

    {% endif %}


{% endblock %}