{% extends 'base.html.twig' %}

{% block title %}Chris B Dev - Modifier mon profil{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}

        <section class="hero is-bold section is-dark is-fullheight-with-navbar">
            <div class="columns has-text-centered is-centered">

                <div class="column is-one-third-widescreen box has-background-black-bis">
                    {{ include('User/edit_user_form.html.twig') }}
                </div>

                <div class="column is-two-fifths is-two-fifths-widescreen is-one-quarter-fullhd is-flex">
                    <figure>
                        <img src="{{ asset('build/images/undraw_profile_6l1l.fa21e098.svg') }}" alt="edit profile illustration">
                    </figure>
                </div>

            </div>
        </section>

{#        <section class="has-text-centered hero is-fullheight is-light" style="justify-content: center;align-items: center;position: relative">#}

{#            #}

{#        </section>#}
    {% endif %}


{% endblock %}