{% extends 'base.html.twig' %}

{% block title %}Chris B dev | Récupération de mot de passe{% endblock %}

{% block body %}
    <section class="hero is-bold section is-dark is-fullheight-with-navbar">
        <div class="columns is-flex has-text-centered is-centered">
            <div class="column is-one-quarter">

                    <h1 class="title has-text-primary">Veuillez entrez votre Email</h1>
                    {{ form_start(lost_password_form) }}

                    {% include 'flash_message.html.twig' %}

                    <div class="field">

                        <label class="label">Email</label>

                        <div class="control">
                            {{ form_widget(lost_password_form.email, {'attr' : {'class' : 'input', 'placeholder' : 'ex : mail@mail.com' , 'alt' : 'email'}
                            }) }}
                        </div>

                    </div>

                    <button type="submit" class="button is-info is-fullwidth is-small">
                        Envoyer l'email de réinitialisation
                    </button>

                    {{ form_end(lost_password_form) }}

            </div>
        </div>
    </section>

{% endblock %}
