{% extends 'base.html.twig' %}

{% block title %}chrisBdev - Mon espace personnel{% endblock %}

{% block meta_description %}Bienvenue dans votre espace personnel du site chrisBdev{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}

        <section class="hero is-bold section is-dark">
                <h1 class="subtitle is-1 has-text-light has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-left" style="align-items: baseline;text-shadow: 1px 2px 2px black">
                        Mon espace personnel
                        <span class="icon has-text-light is-hidden-touch" style="margin: 0 1.75rem">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                        </span>
                </h1>

            <div class="columns has-text-centered is-centered">

                <div class="column is-one-third-widescreen box has-background-black-bis is-flex is-flex-direction-column">
                    {{ include('User/user_card.html.twig') }}
                    <a class="button is-green-custom" href="{{ path('user_edit') }}">Modifier mon profil</a>
                </div>

                <div class="column is-two-fifths is-two-fifths-widescreen is-one-quarter-fullhd is-flex">
                    <figure>
                        <img src="{{ asset('build/images/undraw_profile_details_f8b7.c2f3185f.svg') }}" alt="edit profile illustration">
                    </figure>
                </div>

            </div>
        </section>

    {% endif %}


{% endblock %}